.green {
    color: green !important;
    font-weight: bold;
    font-size: 17px;
}

.blue {
    color: blue !important;
    font-weight: bold;
    font-size: 17px;
}

.yellow {
    color: #ff771d !important;
    font-weight: bold;
    font-size: 17px;
}