.green {
    color: green !important;
    font-weight: bold;
    font-size: 17px;
}

.blue {
    color: blue !important;
    font-weight: bold;
    font-size: 17px;
}

.yellow {
    color: #ff771d !important;
    font-weight: bold;
    font-size: 17px;
}

.red {
  color: red !important;
  font-weight: bold;
  font-size: 17px;
}

.info-card.sales-card.card-1 {
  background-color: #219C90;
}
.info-card.sales-card.card-2 {
  background-color: #219C90;
}
.info-card.sales-card.card-3 {
  background-color: #219C90;
}
.info-card.sales-card.card-4 {
  background-color: #219C90;
}

.card-title {
  font-weight: bold;
}

/* Menambahkan warna latar belakang dan ukuran ikon */

.card-title span {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#topSelling tbody tr:hover {
  background-color: #f5f5f5;
}

#topSelling thead th {
  background-color: #337ab7;
  color: white;
}

.icon-card {
  width: 50px;
  height: 50px;
  align-items: center;
  align-content: center;
  margin-left: 10px;
  filter: drop-shadow(16px 7px 8px );
  -webkit-filter: drop-shadow(9px 8px 9px  #000000);
}

.text-penjualan {
  font-size: 17px;
  order: 1; /* Set the order to 1 to move it to the right */
}

.body-penjualan {
  align-items: center;

  border: 2px solid #f5f5f5;
  padding: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.presentase-penjualan {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* CSS untuk menghilangkan tombol geser pada tabel */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: none; /* Menghilangkan border */
}

.table-responsive::-webkit-scrollbar {
  display: none; /* Menghilangkan scrollbar Webkit */
}

/* Jika Anda perlu menghilangkan scrollbar di browser lain, tambahkan CSS berikut */
.table-responsive {
  scrollbar-width: none; /* Untuk Firefox */
}

.table-responsive::-webkit-scrollbar {
  width: 0; /* Untuk Edge, IE */
}
